<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Newslator - All your news in one place{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {# Material #}
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

        {# Global styles #}
        <style>
            /* Logo */
            .brand-logo {
                margin-left: 20px;
            }

            /* Submit button hack */
            input.hide-hack {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            /* Search functionality */
            nav #nav-find {
                display: none;
            }
            nav.finding #nav-not-find {
                display: none;
            }
            nav.finding #nav-find {
                display: block;
            }
            #close-search { color: #444; }

            /* Scraper button */
            nav #scraper img {
                display: none;
            }
            nav.scraping #scraper i {
                display: none;
            }
            nav.scraping #scraper img {
                display: block;
            }
            #scraper, #scraper img {
                height: 64px;
            }
            #scraper img {
                color: white;
            }

        </style>
    </head>
    <body>

        {# Header #}
        <nav class="{{ search | default(false) ? 'finding' : '' }}">
            <div class="nav-wrapper yellow darken-2">
                <form id="nav-find" onsubmit="return false;">
                    <div class="input-field">
                        <input id="search" type="search" value="{{ term | default('') }}" required>
                        <label for="search"><i class="material-icons">search</i></label>
                        <i id="close-search" class="material-icons">close</i>
                    </div>
                </form>
                <div id="nav-not-find">
                    <a href="{{ path('homepage') }}" class="brand-logo left" title="Newslator"> <i class="material-icons">radio</i> Newslator</a>
                    <ul id="nav-mobile" class="right hide-on-small-and-down">
                        <li><a id="open-search" title="Search for feeds"><i class="material-icons">search</i></a></li>
                        <li><a class="waves-effect waves-light" title="Feeds list" href="{{ path('feed_index') }}"><i class="material-icons">format_list_bulleted</i></a></li>
                        <li>
                            <a id="scraper" title="Run scraper">
                                <i class="material-icons">trending_down</i>
                                <img width=25 src="/rolling.svg">
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
        <br>

        {# Body #}
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <br>
        <br>

        {# Javascripts #}
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
        <script>
            $(document).ready(function(){

                var isSearch = {{ search | default(false) ? 'true' : 'false' }};

                // Image amplification
                $('.materialboxed').materialbox();

                // Navbar link activation
                var currentPath = window.location.pathname;
                $.each($('nav').find('li'), function() {
                    var link = $(this).find('a').attr('href');
                    $(this).toggleClass('active', link == currentPath);
                });

                // Select inputs
                $('select').material_select();

                // Search button
                $('#open-search').on('click', function () {
                    $('nav').addClass('finding');
                    $('#search').focus();
                });
                $('#close-search').on('click', function () {
                    if (isSearch) {
                        window.location.href = "{{ path('homepage') }}";
                    } else {
                        $('nav').removeClass('finding');
                    }
                });
                $("#search").bind("keypress", {}, keypressInBox);
                function keypressInBox(e) {
                    var code = (e.keyCode ? e.keyCode : e.which);
                    if (code == 13) { //Enter keycode
                        e.preventDefault();
                        var url = "{{ path('feed_search', {'term' : 'TERM_HERE'}) }}";
                        url = url.split('TERM_HERE').join($("#search").val());
                        window.location.href = url;
                    }
                };

                // Scraper
                var scraping = false;
                var $scraper = $('#scraper');
                $scraper.on('click', function () {
                    if (scraping) {
                        return;
                    }
                    scraping = true;
                    $('nav').addClass('scraping');
                    var jqxhr = $.ajax("{{ path('scraper') }}")
                            .fail(function(e) {
                                alert("Error while scraping.");
                                console.log('scraper error', e)
                            })
                            .always(function() {
                                scraping = false;
                                location.reload();
                            });
                });

            });
        </script>
        {% block javascript %}{% endblock %}

    </body>
</html>
