
{% if pageCount > 1 %}

    <ul class="pagination">

        {# Prev link #}
        {% if previous is defined %}
            <li>
                <a href="{{ previous == 1 ? path('feed_index') : path('feed_paginated', {page: previous}) }}">
                    <i class="material-icons">chevron_left</i>
                </a>
            </li>
        {% endif %}

        {# Pages #}
        {% for page in pagesInRange %}
            {% if page != current %}
                <li class="waves-effect"><a href="{{ page == 1 ? path('feed_index') : path('feed_paginated', {page: page}) }}">{{ page }}</a></li>
            {% else %}
                <li class="active"><a href="{{ page == 1 ? path('feed_index') : path('feed_paginated', {page: page}) }}">{{ page }}</a></li>
            {% endif %}

        {% endfor %}


        {# Next link #}
        {% if next is defined %}
            <li class="waves-effect">
                <a href="{{ path('feed_paginated', {page: next}) }}">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
        {% endif %}

    </ul>

{% endif %}