<div class="card medium">

    {# Image #}
    <div class="card-image {{ image | default(0) ? '' : 'no-image' }}">
        {% if image | default(0) %}
            <img src="{{ image }}">
        {% endif %}
        <span class="card-title">{{ title | default('untitled') }}</span>
    </div>

    {# Body #}
    <div class="card-content">
        <p>{{ body | raw }}</p>
    </div>

    {# Footer #}
    <div class="card-action">
        <a href="{{ source }}" target="_blank">Read [{{ publisher | publisherName }}]</a>
    </div>
</div>
