{% extends 'base.html.twig' %}

{% block body %}
    <h2>Feed</h2>

    {# Feed data #}
    <table style="width: 100%">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ feed.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ feed.title }}</td>
        </tr>
        <tr>
            <th>Body</th>
            <td>{{ feed.body }}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td>{{ feed.image }}</td>
        </tr>
        <tr>
            <th>Source</th>
            <td>{{ feed.source }}</td>
        </tr>
        <tr>
            <th>Publisher</th>
            <td>{{ feed.publisher }}</td>
        </tr>
        </tbody>
    </table>

    <br>

    {# Buttons left #}
    <div class="left">
        <a href="{{ path('feed_index') }}" class="btn-flat waves-effect waves-light">
            <i class="material-icons left">undo</i>
            Back to the list
        </a>
    </div>

    {# Buttons right #}
    <div class="right">
        {{ form_start(delete_form) }}
            <a class="waves-effect waves-teal btn-flat">
                <input type="submit" value="" class="hide-hack" style="margin-left: -2em;">
                delete
            </a>
            <a href="{{ path('feed_edit', { 'id': feed.id }) }}" class="waves-effect waves-teal btn">Edit</a>
        {{ form_end(delete_form) }}
    </div>

{% endblock %}

{% block actions %}

{% endblock %}