{% extends 'base.html.twig' %}

{% block body %}
    <h2>Feed</h2>

    {# Feed data #}
    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ feed.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ feed.title }}</td>
        </tr>
        <tr>
            <th>Body</th>
            <td>{{ feed.body }}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td>{{ feed.image }}</td>
        </tr>
        <tr>
            <th>Source</th>
            <td>{{ feed.source }}</td>
        </tr>
        <tr>
            <th>Publisher</th>
            <td>{{ feed.publisher }}</td>
        </tr>
        </tbody>
    </table>
    <br>

    {# Buttons left (backToList) #}
    <div class="left">
        <a href="{{ path('feed_index') }}" class="btn-flat waves-effect waves-light">
            <i class="material-icons left">undo</i>
            Back to the list
        </a>
    </div>

    {# Buttons right (delete, edit) #}
    <div class="right">
        {{ form_start(delete_form) }}
            <a class="waves-effect waves-teal btn-flat" href="#delete_modal">
                {#<input type="submit" value="" class="hide-hack" style="margin-left: -2em;">#}
                delete
            </a>
            <a href="{{ path('feed_edit', { 'id': feed.id }) }}" class="waves-effect waves-teal btn">Edit</a>
        {{ form_end(delete_form) }}
    </div>


    {# Delete Modal Structure #}
    <div id="delete_modal" class="modal">
        <div class="modal-content">
            <h4>Are you sure?</h4>
            <p>You are going to delete this feed. This action can not be undone.</p>
        </div>
        <div class="modal-footer">
            {{ form_start(delete_form) }}
            <a class="waves-effect waves-green btn">
                delete
                <input type="submit" value="" class="hide-hack">
            </a>
            <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            {{ form_end(delete_form) }}
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function(){
            $('.modal').modal();
        });
    </script>
{% endblock %}
